<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CwxxWsServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://218.5.84.81:7002/cwbbservice/service/cwxxWsService"
                binding="basicHttpBinding" bindingConfiguration="CwxxWsServiceServiceSoapBinding"
                contract="cwxxWsService.ICwxxWsService" name="CwxxWsServicePort" />
        </client>
    </system.serviceModel>
</configuration>